#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family:'Segoe UI'
}

img {
  padding: 10px;
  width: 100px;
  max-width: 100px;
  height: auto;
  vertical-align:middle;
}
