#root {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}


main.produtosVisu {
  display: grid;
  
  grid-gap: 20px;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  columns: 2;
  gap: 20px;
  
  padding: 20px;
}
.product {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  padding: 15px;
  width: 200px;
  text-align: center;
  transition: transform 0.2s;
}

.product:hover {
  transform: scale(1.05);
}

.product img {
  max-width: 100%;
  height: auto;
}

main p.p{
  margin-top: -12px;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: .9em;
  color: #390b50;
  align-items: center;
  width: 100%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', Arial, sans-serif;
}
h1 {
  
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', Arial, sans-serif;
  text-align: center;
  margin-top: 0px;
  font-size: 2em;
  font-weight: bold;
  background-image: linear-gradient(45deg, #390b50 70%, #ecdfff);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  
}
p {
  text-align: center;
  margin-bottom: 20px;
}

.product-title {
  font-size: 1em;
  margin: 10px 0;
}

.productPrice {
  color: #b12704;
  font-size: 1.1em;
  margin: 5px 0;
}

.button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}


img {
  width: 150px;
  height: auto;
  margin-bottom: 10px;

}

li{
  list-style: none;
  margin-bottom: 20px;
}

.destaque-menu {
  text-align: center;
  margin: 1px 0;
  width: 100%;
 height: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
 
}
.destaque-menu img {
  width: 100%;
  height: auto;
  filter: contrast(1.4);
}