main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

main h1 {
    font-weight: bold;
   margin-bottom: 20px;
}


p {
    font-size: .9;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', Arial, sans-serif
}